/*selectores{estilos}
tipos de selectores
1-Etiquetas h1,p
2-Clase .+Nombre partes de un grupo de etiquetas
3-Id #+nombre id que tiene una etiqueta*/

body{
    background-color: pink;
}

.fondoverde{
    background-color: green;
}

h2{ background-color: aqua;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

#tituloprincipal{
    background-color: #63b184;
    width: 400px;
    height: 50px;
    display: inline-block;
}
button{
    display: block;
    background-color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.botongris{
    background-color: gray;
}

#perro{
    width: 300px;
}

.texto2{
    width: 25%;
    height: 40vh;
}

#textounico{
    background-image: url(./imagenes/chewy-kZRX29xJq6Y-unsplash.jpg);
}
ul{
    background-color: blueviolet;
    width: 50%;
}

li{
    background-color:chocolate ;
}